@model Dominio.Estado

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstado)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NomeEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEstado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdEstado }) |
    @Html.ActionLink("Voltar", "Index")
</p>
