@model Dominio.Funcionario

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja excluir o registro?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IdFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFuncionario)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.IdCidade)*@
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.NomeCidade)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.IdEstado)*@
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.NomeEstado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
